@import 'normalize';

/*
 * Variables
 */

/*
 * Breakpoints
 */

@mixin view-xl {
  @media only screen and (min-width: 1130px) {
    @content;
  }
}

@mixin view-l {
  @media only screen and (max-width: 940px) {
    @content;
  }
}

@mixin view-m {
  @media only screen and (max-width: 768px) {
    @content;
  }
}

@mixin view-s {
  @media only screen and (max-width: 500px) {
    @content;
  }
}


/*
 * Core
 */
html, body {
  height: 100%; }

body {
  background: #F7F8FA;
  font-family: sans-serif;
  font-size: 18px;
  color: #2B2E31;
  line-height: 28px;
  font-weight: 400;
  padding-top: 40px;
}

a {
  color: #2F87DB;
  text-decoration: none; }

a:hover {
  color: #2F87DB;
  opacity: 0.8}

a:focus, a:hover, a:active {
  outline: 0; }

strong {
  font-weight: 600; }

img {
  max-width: 100%;
}


h1 {
  font-size: 36px;
  font-weight: 600;
  margin: 0;
  text-align: center;
  margin-bottom: 40px;
}

h2 {
  font-size: 20px;
  font-weight: normal;
  margin: 0 0 8px;
}

h3 {
  font-size: 24px;
  font-weight: bold;
  margin: 0 0 5px;
}

h4 {
  font-size: 20px;
  font-weight: normal;
  margin: 0 0 30px;
}


.photo {
  width: 200px;
  height: 200px;
  display: inline-block;
  background-size: cover;
}

.blueimp-gallery > .description {
  position: absolute;
  top: 30px;
  left: 15px;
  color: rgba(255,255,255,0.7);
  display: none;
  font-size: 16px;
  font-weight: bold
}

.blueimp-gallery-controls > .description {
  display: block;
}

.blueimp-gallery {
  .prev {
    color: #fff !important
  }
  .next {
    color: #fff !important
  }
}
















































