@import 'normalize';

/*
 * Variables
 */

/*
 * Breakpoints
 */

@mixin view-l {
  @media only screen and (max-width: 1279px) {
    @content;
  }
}

@mixin view-m {
  @media only screen and (max-width: 1049px) {
    @content;
  }
}

@mixin view-s {
  @media only screen and (max-width: 520px) {
    @content;
  }
}


/*
 * Core
 */
html, body {
  height: 100%; }

body {
  background: #fff;
  font-family: sans-serif;
  font-size: 18px;
  color: #2B2E31;
  line-height: 28px;
  font-weight: 400;
  padding-top: 40px;
}

a {
  color: #2F87DB;
  text-decoration: none; }

a:hover {
  color: #2F87DB;
  opacity: 0.8}

a:focus, a:hover, a:active {
  outline: 0; }

strong {
  font-weight: 600; }

img {
  max-width: 100%;
}


h1 {
  font-size: 36px;
  font-weight: 600;
  margin: 0;
  text-align: center;
  margin-bottom: 40px;
}

h2 {
  font-size: 20px;
  font-weight: normal;
  margin: 0 0 8px;
}

h3 {
  font-size: 24px;
  font-weight: bold;
  margin: 0 0 5px;
}

h4 {
  font-size: 20px;
  font-weight: normal;
  margin: 0 0 30px;
}




.blueimp-gallery > .description {
  position: absolute;
  top: 30px;
  left: 15px;
  color: rgba(255,255,255,0.7);
  display: none;
  font-size: 16px;
  font-weight: bold
}

.blueimp-gallery-controls > .description {
  display: block;
}

.blueimp-gallery {
  .prev {
    color: #fff !important
  }
  .next {
    color: #fff !important
  }
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 10px;


  @include view-s {
    padding: 0 10px;
  }
}

.inner {
  display: flex;
  flex-wrap: wrap;
  //flex-direction: row;
  //justify-content: space-between;
}

.photo {
  // width: calc(100% / 6);
  width: calc(20% - 6px);
  //width: 19%;
  padding-bottom: 20%;
  display: inline-block;
  background-size: cover;
  //max-width: 100%;
  display: block;
  // float: left;
  margin: 0 6px 6px 0;
  //flex-grow: 1;

  @include view-s {
    width: calc(50% - 6px);
    //width: 19%;
    padding-bottom: 50%;
  }

}

.photo:nth-of-type(5n) {
  margin-right: 0;
}


@media only screen and (max-width: 520px) {
 .photo:nth-of-type(2n) {
   margin-right: 0px;
 }

 .photo:nth-of-type(5n) {
   margin-right: 6px;
 }
}

.indicator {

  @include view-s {
    display: none !important;
    }
}


.prev, .next {

  @include view-s {
    display: none !important;
    }
}










































